body {
    display: grid;
    grid-template-columns: .5fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    
    
}
.curve{
    /* attempted curve for a more Eventora feeling.*/
    background: rgb(0, 50, 255, 0.75);
    border-radius: 0 300% 100% 0; 
    position: fixed;
    width: 28%;
    height: 140%;
    top: 0;
    left: 0;
    z-index: -1;
}



#sidebar{
    grid-area: 1 / 1 / 6 / 2; 
    display: flex;
    justify-content: start;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

#sidebar h1{
    font-size: 2rem;
}


form{
    width: 50%;
    height: 300px;
}

form i{
    font-size: smaller;
    opacity: 0.5;
}

.input{
    padding-top: 10px;
    width: 150px;
}

header{
    grid-area: 1 / 2 / 2 / 4;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

section{
    grid-area: 2 / 2 / 5 / 4;
    display: flex;
    justify-content: center;

}


#taskDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    gap: 20px;
    overflow-y: scroll;
}

.taskCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    background-color: rgb(100, 200, 255, 0.1);
    height: 100px;
    width: 80%;
    border-radius: 8px;  
}



.taskItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

#cardDescription{
    display: block;
    overflow-y: scroll;
    word-wrap: break-word;
    text-align: center;
    height: 60px;
    width: 200px;
}

.taskCard label{
    font-weight: 700;
}

button, #addTaskBtn{
    border-radius: 8px;
    height: 30px;
    width: 80px;
    border: none;
}

button:hover, #addTaskBtn:hover{
    transform: translateY(-2px);
    transition: 100ms;
}

#addTaskBtn{
    margin-top: 10px;
}


form [id]{
margin-bottom: 20px;
display: flex;
align-items: center;
justify-content: center;
}


  